<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css" />
    <title>About</title>
</head>

<body>
    <nav id="menu" class="navbar">
        <div class="container">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/gallery">Photo Gallery</a>
        </div>
    </nav>

    <div id="about">
        <div class="container">
            <div class="section-title">
                <h2>Biography</h2>
            </div>
            <div class="about-text">
                <p>Born in Lima in 1954 to a traditional Catholic family, remote from the worlds of fashion and
                    Hollywood, Testino moved from Peru to London in 1976. It was during apprenticeships at the studios
                    of John Vickers and Paul Nugent that he made his first attempts as a photographer, inspired by how
                    photography masters documented the society of their times. His career began tentatively with a
                    commission to photograph a girl's haircut for British Vogue. The girl in the picture was stylist
                    Lucinda Chambers and the shoot sparked a personal friendship and professional partnership that has
                    lasted to this day. During the early nineties, Testino looked to his experience growing up in Peru
                    and his long teenage summers in Brazil for inspiration, which helped him to create a unique and
                    personal photographic language “I noticed an evolution in my work…when I tried to recreate my youth
                    in pictures.”</p>
                <p>Testino's is an artistic vocabulary that has always transgressed gender, mixing and defying
                    masculinity and femininity and suggests sensuality rather than sexuality. Suzy Menkes, Vogue's
                    Former International Editor explains, “Testino's skill is first and foremost to catch the moment and
                    to bring out the humanity in his subjects.” Testino's subjects appear confidently alive; he
                    captures their energy by creating an openness with them. Known for the extraordinary way in which he
                    can capture private moments, Testino's spontaneous, intimate portraits offer the viewer new
                    perspectives on famous faces, often establishing new fashion icons. He has documented subjects from
                    A-list stars, muses, supermodels and artists, to subjects that he has encountered throughout his
                    travels, adding to his A Beautiful World series.</p>
            </div>
        </div>
    </div>

</body>

</html>