<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css"/>
    <title>Photo Gallery</title>
</head>

<body>

    <nav id="menu" class="navbar">
        <div class="container">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/gallery">Photo Gallery</a>
        </div>
    </nav>


    <div class="container-gallery">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <a href="./images/lady-diana.jpg">
                    <img src="./images/lady-diana.jpg" width="190px" height="280px" alt="Diana, Princesa de Gales">
                </a><h6>Diana, Princess of Wales, London, Vanity Fair, 1997</h6>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="./images/brad-pitt.jpg">
                    <img src="./images/brad-pitt.jpg" width="190px" height="280px">
                </a><h6>Brad Pitt, Los Angeles, GQ, 2005</h6>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="./images/jessica-parker.jpg">
                    <img src="./images/jessica-parker.jpg" width="190px" height="280px">
                </a><h6>Sarah Jessica Parker, Jersey City, American Vogue, 2010</h6>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="./images/madonna.jpg">
                    <img src="./images/madonna.jpg" width="190px" height="280px">
                </a><h6>Madonna</h6>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="./images/principe-guillermo.jpg">
                    <img src="./images/principe-guillermo.jpg" width="190px" height="280px">
                </a><h6>TRH The Duke & Duchess of Cambridge, London, 2010</h6>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="./images/scarlet-johanson.jpg">
                    <img src="./images/scarlet-johanson.jpg" width="190px" height="280px">
                </a><h6>Scarlett Johansson, Paris, American Vogue, 2012</h6>
            </div>
        </div>
    </div>
</body>

</html>