<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Works</title>
</head>

<body>
    <nav id="menu" class="navbar">
        <div class="container">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/gallery">Photo Gallery</a>
        </div>
    </nav>

    <div class="works-text">
        <p>Testino's work has been exhibited at museums globally, among them the Nicola Erni Collection (Smile!, 2020),
            Helmut Newton Foundation in Berlin (Undressed, 2017), Museum of Fine Arts in Boston (In Your Face, 2012),
            the Shanghai Art Museum (Private View, 2012), Museo Thyssen-Bornemisza in Madrid (Todo o Nada, 2010), the
            Metropolitan Museum in Tokyo (Portraits, 2004) and Foam in Amsterdam (Portraits, 2003). Solo exhibitions of
            his work have been presented at galleries such as Hamiltons Gallery in London (East, 2019), Mary Boone
            Gallery in New York, Phillips de Pury in London, Yvon Lambert in Paris and Timothy Taylor in London. More
            than sixteen books have been published on his work including Portraits (National Portrait Gallery, 2002),
            Let Me In! (Taschen, 2007), In Your Face (Taschen, 2012), Alta Moda (Museo MATE, 2013), SIR (Taschen, 2015)
            and Undressed (Taschen, 2017), and Ciao (Taschen, 2020)</p>
        <p>His growing personal collection of artworks ranging from painting to sculpture and photography has also been
            the subject of numerous shows. Testino's relationship with fine art developed after frequent visits to
            galleries and artist's studios. He said: “Just as photography is a vehicle for me to live a new moment, to
            go to a new place, meet a new person and so on, art is a process of encounter and discovery. The display of
            art for me is not just about seeing the work isolated in a white cube. It's also about engaging with the art
            – and sometimes the artist – to make something new.” He has collaborated in the creation of some unique
            works with artists such as Keith Haring, Vik Muniz, John Currin and Julian Schnabel.</p>
    </div>

    <img src="/images/mario-work.png" alt="mario-work">





</body>

</html>